RABBITMQ_URL=amqps://your_user:your_password@your_instance.cloudamqp.com/your_vhost
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
QUEUE_NAME=email_notifications
MOCK_EMAIL=true
